<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreExamen</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </style>
</head>

<body style="background-color: #a3dde8;">
    <center>
    
        <div style="width: 600px; border-radius: 3px; " class="c">
            <header class="d-flex justify-content-between align-items-center" style="width: 550px;">
            <div>
            <a href="http://www.upsin.edu.mx/" target="_blank"><img style="width: 60px; border-radius: 20px;" src="./img/logoUpsin.png" alt=""></a>
            </div>
                <h4 class="text-center"><%=Header%></h4>
            </header>
            <form action="" method="p" class="formulario__Form" style="width: 500px; background-color: rgb(107, 235, 228);">
    
    <div class="row mb-3">
        <label for="NumeroBoleto" class="col-4 col-form-label">Num Boleto</label>
        <div class="col-8">
            <input id="NumeroBoleto" name="NumeroBoleto" type="number" class="form-control" placeholder="" required>
        </div>
        </div>
                <div class="row mb-3">
                <label for="Destino" class="col-4 col-form-label">Destino</label>
                <div class="col-8">
                    <input id="Destino" type="text" class="form-control" placeholder="" required>
                </div>
                </div>
                        <div class="row mb-3">
                            <label for="NombreCliente" class="col-4 col-form-label">Nombre del Cliente</label>
                <div class="col-8">
                    <input id="NombreCliente" type="text" class="form-control" placeholder="" required>
        </div>
        </div>
        <div class="row mb-3">
            <label for="Edad" class="col-4 col-form-label">Años Cumplidos</label>
            <div class="col-8">
            <input id="Edad" type="number" class="form-control" placeholder="" required>
            </div>
            </div>
        <div class="row mb-3">
        <label for="TipoViaje" class="col-4 col-form-label">Tipo de Viaje</label>
        <div class="col-8">
            <select id="TipoViaje" class="form-select" required>
                <option value="">Seleccionar...</option>
                <option value="1">Sencillo</option>
                <option value="2">Doble</option>
                    </select>
                </div>          <!--Precio-->
            <div class="input-group mb-3">
                <span style="width: 140px; justify-content: center;" class="input-group-text" id="basic-addon1">Precio</span>
                <span style="width: 35px; justify-content: center;" class="input-group-text" id="addon-wrapping">$</span>
                <input id="Precio" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
            </div>          
            <hr>          <div class="input-group mb-3">
                <center>
                    <input type="button" class="btn btn-primary" value="Calcular" onclick="Resultados()">
                    <input type="reset" class="btn btn-warning" value="Limpiar">
                </center>
            </div>            <!--Resultados-->            <div class="input-group flex-nowrap">
                            <span style="width: 125px; justify-content: center;" class="input-group-text" id="addon-wrapping">SubTotal</span>
                            <span class="input-group-text" id="addon-wrapping">$</span>
                            <input id="SubTotal" style="max-width: 250px;" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
                        </div>
                    
                        <div class="input-group flex-nowrap">
                            <span style="width: 125px; justify-content: center;"  class="input-group-text" id="addon-wrapping">Impuesto 16%</span>
                            <span class="input-group-text" id="addon-wrapping">$</span>
                            <input id="Impuesto" style="max-width: 250px;" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
                        </div>
                    
                        <div class="input-group flex-nowrap">
                            <span style="width: 125px; justify-content: center;"  class="input-group-text" id="addon-wrapping">Descuento</span>
                            <span class="input-group-text" id="addon-wrapping">$</span>
                            <input id="Descuento" style="max-width: 250px;" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
                        </div>
                    
                        <div class="input-group flex-nowrap">
                            <span style="width: 125px; justify-content: center;"  class="input-group-text" id="addon-wrapping">Total a Pagar</span>
                            <span class="input-group-text" id="addon-wrapping">$</span>
                            <input id="TotalAPagar" style="max-width: 250px;" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
                        </div>
                    
                    </form>
                
                    <footer class="card-footer text-muted" style="width: 500px;">
                        <b><%=Footer%></b>
                    </footer>
                </div>
    </center>
</body>

<script src="./js/main.js"></script>

</html>